@CHARSET "UTF-8";

.vistaNotification .z-east .z-groupbox > div {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.vistaNotification-legend .z-vlayout {
	margin-left: 20px;
	border-top: 1px solid lightgray;
	padding-top: 5px;
}

.vistaNotification-legend img {
	margin-right: 5px;
}

.vistaNotification-legend .z-a[disabled] {
	color: black;
}
